
    <div class="sidebar" data-color="rose" data-background-color="black" data-image="/static/assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
           <a target="_blank" rel="noopener noreferrer"
              href="https://mattertalent.com/" class="simple-text logo-mini">
        <div class="photo">
          <img src="/static/assets/img/logo_mattertalent.png" width="40" />
        </div>
        </a>
        <a target="_blank" rel="noopener noreferrer"
           href="https://mattertalent.com/" class="simple-text logo-normal">
          MATTERTALENT
        </a></div>
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="photo">
            <img src="/static/assets/img/faces/avatar.jpg" />
          </div>
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                {{ current_user.username }}
                <b class="caret"></b>
              </span>
            </a>
            <div class="collapse" id="collapseExample">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> MP </span>
                    <span class="sidebar-normal"> My Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> EP </span>
                    <span class="sidebar-normal"> Edit Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> S </span>
                    <span class="sidebar-normal"> Settings </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item {% if 'index' in segment %} active {% endif %} ">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p> Inicio </p>
            </a>
          </li>
          <li class="nav-item {% if 'encuestas' in segment %} active {% endif %}">
            <a class="nav-link" href="/encuestas.html">
              <i class="material-icons">pending_actions</i>
              <p>Encuestas</p>
            </a>
          </li>
          <li class="nav-item {% if 'mapas' in segment %} active {% endif %}">
            <a class="nav-link" href="/mapas.html">
              <i class="material-icons">map</i>
              <p>Mapas</p>
            </a>
          </li>
          <li class="nav-item {% if 'charts' in segment %} active {% endif %}">
            <a class="nav-link" href="/charts.html">
              <i class="material-icons">timeline</i>
              <p> Reportes </p>
            </a>
          </li>
          <li class="nav-item {% if 'widgets' in segment %} active {% endif %}">
            <a class="nav-link" href="/widgets.html">
              <i class="material-icons">widgets</i>
              <p> Usuarios </p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href={{ url_for('base_blueprint.logout') }} >
              <i class="material-icons">directions_run</i>
              <p> Logout [ {{ current_user.username }} ] </p>
            </a>
          </li>

        </ul>
      </div>
    </div>
