{% extends "layouts/base.html" %}

{% block title %} KAM {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-10 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Diseño de clima para la creatividad</h3>
        <br>
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#dash" role="tablist">
              <i class="material-icons">insights</i> Dashboard
            </a>
          </li>
	</ul>
        <div class="tab-content tab-space tab-subcategories">
          <div class="tab-pane active show" id="dash">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Dashboard</h4>
              </div>
              <div class="card-body">
		<!-- iframe Powe bi-->
			<iframe width="100%" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiN2U2MzcwMTctYjMxMC00NzQ1LWFmNGUtNzRjN2NhMzRkNTRkIiwidCI6ImZmNjRmZWUwLWZmZWYtNGQxOS1iNzM2LTJjNDA4YzA3ODgzMyJ9&pageName=ReportSection4bbf58025a23b6960d01" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
