{% extends "layouts/base.html" %}

y{% block title %} UI Panels {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-12 ml-auto mr-auto">
<img src="/static/assets/banners/rotacion.jpg" alt="Girl in a jacket" width="100%">
</div>
<div class="col-md-10 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Hyundai Total Marca</h3>
        <br>
        <ul class="nav nav-pills nav-pills-rose nav-pills-icons justify-content-center" role="tablist">
       
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#dash" role="tablist">
              <i class="material-icons">insights</i> Talentmap - Hyundai Total Marca
            </a>
          </li>
									
									<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sociograma" role="tablist">
              <i class="material-icons">place</i> A.R.O. - General
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#model" role="tablist">
              <i class="material-icons">place</i> A.R.O. - Negativo
            </a>
          </li>
	</ul>
        <div class="tab-content tab-space tab-subcategories">
	
          <div class="tab-pane" id="sociograma">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">A.R.O. - General</h4>
              </div>
              <div class="card-body">
		
                <a href="https://embed.kumu.io/f314e043044b4bb38198f6bd4f159758" target="_blank">
                	<button type="button" class="btn btn-default btn-block">Launch A.R.O.</button>
                </a>
		  <iframe src=" " width="100%" height="600" frameborder="0"></iframe>
              </div>
            </div>
          </div>

          <div class="tab-pane active show" id="dash">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"></h4>
              </div>
              <div class="card-body">
		<!-- iframe Powe bi-->
		<iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMWY3ZTViYWEtZjdmNC00OWJkLWJlN2MtZWNjMTA5YzlmZmM2IiwidCI6ImZmNjRmZWUwLWZmZWYtNGQxOS1iNzM2LTJjNDA4YzA3ODgzMyJ9" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>
	
          <div class="tab-pane" id="model">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">A.R.O. - Negativo</h4>
              </div>
              <div class="card-body">
                <a href="https://embed.kumu.io/4ba3bb5247fd2df9aa003a98a8a2d21b" target="_blank">
                	<button type="button" class="btn btn-default btn-block">Launch</button>
                </a>
		<iframe width="100%" height="600" src=" " frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
 </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
