{% extends "layouts/base.html" %}

{% block title %} KAM {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-12 ml-auto mr-auto">
<img src="/static/assets/banners/entregables.jpg" alt="Girl in a jacket" width="100%">
</div>
<div class="col-md-10 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Entregables</h3>
        <br>
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#sociograma" role="tablist">
              <i class="material-icons">store</i> Empresa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#area" role="tablist">
              <i class="material-icons">horizontal_split</i> SCH
            </a>
          </li>
	</ul>
        <div class="tab-content tab-space tab-subcategories">
          <div class="tab-pane active show" id="sociograma">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Reporte SCH y tiendas</h4>
              </div>
              <div class="card-body">
		<a href="static/assets/docs/Reporte_Hallazgos_AXO_FINAL.pptx" download>
		<button type="button" class="btn btn-default btn-block">Reporte final rotación y clima fullprice</button>
		</a>
          	<a href="static/assets/docs/Resumen_Costo_de_Reclutamiento_AXXO.pptx" download>
		<button type="button" class="btn btn-default btn-block">Resumen Costo de Reclutamiento</button>
		</a>
           </div>
            </div>
          </div>
          <div class="tab-pane" id="area">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Reporte SCH</h4>
              </div>
              <div class="card-body">
		<a href="static/assets/docs/Reporte_Hallazgos_AXO_SCH_Final.pptx" download>
		<button type="button" class="btn btn-default btn-block">Reporte Hallazgos SCH FINAL</button>
		</a>
              </div>
            </div>

	 </div>
      </div>
    </div>
 </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
