{% extends "layouts/base.html" %}

{% block title %} UI Panels {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-12 ml-auto mr-auto">
<img src="/static/assets/banners/entregables.jpg" alt="Girl in a jacket" width="100%">
</div>
<div class="col-md-10 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Entregables</h3>
        <br>
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#sociograma" role="tablist">
              <i class="material-icons">store</i> Empresa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#dash" role="tablist">
              <i class="material-icons">people</i> Personas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#listas" role="tablist">
              <i class="material-icons">assignment</i> Listas
            </a>
          </li>
	</ul>
        <div class="tab-content tab-space tab-subcategories">
          <div class="tab-pane active show" id="sociograma">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Empresa</h4>
              </div>
              <div class="card-body">
		<!-- iframe kumu-->
		<a href="static/assets/demo/Reporte_hallazgos_empresa.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte empresa</button>
		</a>
              </div>
            </div>
          </div>
          

	<div class="tab-pane" id="dash">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Persona</h4>
              </div>
              <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte Juan Perez</button>
		</a>		
              </div>
            </div>
          </div>

	<div class="tab-pane" id="listas">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Listas</h4>
              </div>
              <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/KAM-TOP50.xlsx" download>
		<button type="button" class="btn btn-success btn-block">Compromiso Sustentable</button>
		</a>		
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
 </div>




<!-- lo nuevo contra lo viejo -->



<div class="col-md-8 ml-auto mr-auto">
<div id="accordion" role="tablist">
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Descargables de Mercedes benz
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Este texto deberían poder verlo todos los usuarios 
      </div>
    </div>
  </div>
  {% if current_user.username in ['gpremier','gpToy'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Descargables de Toyota
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <div class="col-md-12">
               <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                   
          <div class="tab-pane" id="sociograma">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Toyota</h4>
              </div>
              <div class="card-body">
                  
		<!-- iframe kumu-->
		<li><a href="static/assets/demo/Reporte_hallazgos_empresa.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte empresa</button>
		</a><li>
                  
                     <li><a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
                         <button type="button" class="btn btn-success btn-block">1</button></a></li>
                         <li><a href="static/assets/demo/Reporte_hallazgos_empresa.pdf" download>
    <button type="button" class="btn btn-success btn-block">2</button></a></li>
                             <li><a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
    <button type="button" class="btn btn-success btn-block">3</button></a></li>
                             <a href="static/assets/demo/Reporte_hallazgos_empresa.pdf" download>
    <button type="button" class="btn btn-success btn-block">4</button></a></li>
 
                  
                  
              </div>
            </div>
          </div>
                   
                   
                   
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h4 class="card-title">Persona</h4>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte Juan Perez</button>
		</a>		
                    </div>
                    </div>
                    </div>
              
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h4 class="card-title">Persona pero de abajo</h4>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte Juan Perez</button>
		</a>		
                    </div>
                    </div>
                    </div>
              
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h4 class="card-title">Persona de más abajo</h4>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte Juan Perez</button>
		</a>		
                    </div>
                    </div>
                    </div>
                   
                 </ul>  
          </div>
          
      </div>
    </div>
  </div>
    {% endif %}
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Descargables de Ford
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
