{% extends "layouts/base.html" %}

{% block title %} UI Panels {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-12 ml-auto mr-auto">
<img src="/static/assets/banners/entregables.jpg" alt="Girl in a jacket" width="100%">
</div>
<div class="col-md-10 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Entregables</h3>
        <br>
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#sociograma" role="tablist">
              <i class="material-icons">store</i> Empresa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#dash" role="tablist">
              <i class="material-icons">people</i> Personas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#listas" role="tablist">
              <i class="material-icons">assignment</i> Listas
            </a>
          </li>
	</ul>
        <div class="tab-content tab-space tab-subcategories">
          <div class="tab-pane active show" id="sociograma">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Empresa</h4>
              </div>
              <div class="card-body">
		<!-- iframe kumu-->
		<a href="static/assets/demo/Reporte_hallazgos_empresa.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte empresa</button>
		</a>
              </div>
            </div>
          </div>
          

	<div class="tab-pane" id="dash">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Persona</h4>
              </div>
              <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Reporte Juan Perez</button>
		</a>		
              </div>
            </div>
          </div>

	<div class="tab-pane" id="listas">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Listas</h4>
              </div>
              <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/KAM-TOP50.xlsx" download>
		<button type="button" class="btn btn-success btn-block">Compromiso Sustentable</button>
		</a>		
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
 </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
