{% extends "layouts/base.html" %}

{% block title %} UI Panels {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-12 ml-auto mr-auto">
<img src="/static/assets/banners/entregables.jpg" alt="Girl in a jacket" width="100%">
</div>
<div class="col-md-10 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Entregables</h3>
        <br>
      </div>
    </div>
 </div>




<!-- lo nuevo contra lo viejo -->

    <!-- inicio de marca  Autocountry-->
  {% if current_user.username in ['gpremier','gpAut', 'gpAutCul', 'gpAutMoc'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingAut">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Autocountry</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpAut'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Autocountry Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpAut', 'gpAutCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Autocountry Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpAut', 'gpAutMoc'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Autocountry Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    
    
    
  <!-- inicio de marca-->
  {% if current_user.username in ['gpremier','gpBmw'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">BMW</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwCul','gpBmwMon','gpBmwSal'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwMon'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Monterrey</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwSal'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Saltillo</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca Chevrolet-->
  {% if current_user.username in ['gpremier','gpChe', 'gpCheCul','gpCheMaz','gpCheHer'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Chevrolet</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpChe'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpChe', 'gpCheCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpChe','gpCheHer'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Hermosillo</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpChe','gpCheMaz'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  Corporativo Culiacán -->
  {% if current_user.username in ['gpremier','gpCorCul'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Corporativo Culiacán</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpCorCul'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Corporativo Culiacán </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca GMC-->
  {% if current_user.username in ['gpremier','gpToy'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Toyota</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpToy'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpToy', 'gpToyCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyGua'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Guasave</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMaz'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMoc'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyZar'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Zaragoza</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca-->
  {% if current_user.username in ['gpremier','gpToy'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Toyota</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpToy'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpToy', 'gpToyCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyGua'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Guasave</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMaz'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMoc'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyZar'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Zaragoza</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca-->
  {% if current_user.username in ['gpremier','gpToy'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Toyota</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpToy'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpToy', 'gpToyCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyGua'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Guasave</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMaz'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMoc'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyZar'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Zaragoza</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca-->
  {% if current_user.username in ['gpremier','gpToy'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Toyota</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpToy'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpToy', 'gpToyCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyGua'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Guasave</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMaz'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMoc'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyZar'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Zaragoza</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca-->
  {% if current_user.username in ['gpremier','gpToy'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToy">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3 class="text-center">Toyota</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpToy'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpToy', 'gpToyCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyGua'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Guasave</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMaz'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpToy', 'gpToyMoc'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToy', 'gpToyZar'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Zaragoza</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/demo/reporte_individual_Juan_Perez_demo.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- fin del colapsable-->
</div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
