{% extends "layouts/base.html" %}

{% block title %} UI Panels {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="col-md-12 ml-auto mr-auto">
<img src="/static/assets/banners/entregables.jpg" alt="Girl in a jacket" width="100%">
</div>
<div class="col-md-10 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Entregables</h3>
        <br>
      </div>
    </div>
 </div>




<!-- lo nuevo contra lo viejo -->

<!-- inicio de marca Total Negocio-->
  {% if current_user.username in ['gpremier'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingTotE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTotE" aria-expanded="false" aria-controls="collapseTotE">
          <h3 class="text-center">Total Negocio</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseTotE" class="collapse" role="tabpanel" aria-labelledby="headingTotE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Total Negocio</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_Total_Negocio_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->

    <!-- inicio de marca  Autocountry-->
  {% if current_user.username in ['gpremier','gpAut', 'gpAutCul', 'gpAutMoc'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingAutE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseAutE" aria-expanded="false" aria-controls="collapseAutE">
          <h3 class="text-center">Autocountry</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseAutE" class="collapse" role="tabpanel" aria-labelledby="headingAutE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpAut'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Autocountry Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_Autocountry_General_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpAut', 'gpAutCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Autocountry Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block" disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpAut', 'gpAutMoc'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Autocountry Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block" disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    
    
    
  <!-- inicio de marca BMW-->
  {% if current_user.username in ['gpremier','gpBmw'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingBmwE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseBmwE" aria-expanded="false" aria-controls="collapseBmwE">
          <h3 class="text-center">BMW</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseBmwE" class="collapse" role="tabpanel" aria-labelledby="headingBmwE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwCul','gpBmwMon','gpBmwSal'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_BMW_General_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwMon'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Monterrey</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpBmw', 'gpBmwSal','gpbmw'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">BMW Saltillo</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca Chevrolet-->
  {% if current_user.username in ['gpremier','gpChe', 'gpCheCul','gpCheMaz','gpCheHer'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingCheE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseCheE" aria-expanded="false" aria-controls="collapseCheE">
          <h3 class="text-center">Chevrolet</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseCheE" class="collapse" role="tabpanel" aria-labelledby="headingCheE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpChe'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_Chevrolet_General_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpChe', 'gpCheCul','gpculiacan'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpChe','gpCheHer'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Hermosillo</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_Chevrolet_Hermosillo_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpChe','gpCheMaz','gpmazatlan'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Chevrolet Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_Chevrolet_Mazatlan_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  Corporativo Culiacán -->
  {% if current_user.username in ['gpremier','gpCorCul'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingCorE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseCorE" aria-expanded="false" aria-controls="collapseCorE">
          <h3 class="text-center">Corporativo Culiacán</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseCorE" class="collapse" role="tabpanel" aria-labelledby="headingCorE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpCorCul'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Corporativo Culiacán </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca GMC-->
  {% if current_user.username in ['gpremier','gpGmc','gpGmcCul','gpGmcMoc','gpGmcMaz'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingGmcE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseGmcE" aria-expanded="false" aria-controls="collapseGmcE">
          <h3 class="text-center">GMC</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseGmcE" class="collapse" role="tabpanel" aria-labelledby="headingGmcE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpGmc'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">GMC Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_GMC_General_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpGmc','gpGmcCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">GMC Culiacan</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpGmc','gpGmcMaz'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">GMC Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpGmc','gpGmcMoc'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">GMC Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  Hino-->
  {% if current_user.username in ['gpremier','gpHinCul'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingHinE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseHinE" aria-expanded="false" aria-controls="collapseHinE">
          <h3 class="text-center">Hino</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseHinE" class="collapse" role="tabpanel" aria-labelledby="headingHinE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpHinCul'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Hino Culiacán </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_GMC_General_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  Hyundai-->
  {% if current_user.username in ['gpremier','gpHyu', 'gpHyuCul','gpHyuCab','gpHyuTij','gpHyuMex','gpHyuMaz'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingHyuE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseHyuE" aria-expanded="false" aria-controls="collapseHyuE">
          <h3 class="text-center">Hyundai</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseHyuE" class="collapse" role="tabpanel" aria-labelledby="headingHyuE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpHyu'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Hyundai Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpHyu', 'gpHyuCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Hyundai  Culiacán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpHyu','gpHyuCab'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Hyundai Cabos</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpHyu''gpHyuTij','gptijuana'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Hyundai Tijuana</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpHyu','gpHyuMex'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Hyundai Mexicali</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpHyu','gpHyuMaz'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Hyundai Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_pulso_Hyundai_Mazatlán.pptx" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca Jaguar-->
  {% if current_user.username in ['gpremier','gpJagCul'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingJagE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseJagE" aria-expanded="false" aria-controls="collapseJagE">
          <h3 class="text-center">Jaguar Land Rover Culiacán</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseJagE" class="collapse" role="tabpanel" aria-labelledby="headingJagE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpJagCul'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Jaguar Land Rover Culiacán </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_Jaguar_Land_Rover_Culiacan_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  KIA-->
  {% if current_user.username in ['gpremier','gpKia','gpKiaCab','gpKiaCdO','gpKiaCul','gpKiaHer','gpKiaLaP','gpKiaMoc'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingKiaE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseKiaE" aria-expanded="false" aria-controls="collapseKiaE">
          <h3 class="text-center">Kia</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseKiaE" class="collapse" role="tabpanel" aria-labelledby="headingKiaE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpKia'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">KIA Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_KIA_General_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpKia','gpKiaCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">KIA  Culiacán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpKia','gpKiaCab'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">KIA Cabos</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpKia','gpKiaCdO'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">KIA Cd Obregón</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpKia','gpKiaHer'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">KIA Hermosillo</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpKia','gpKiaLaP'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">KIA La Paz</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                            
        {% if current_user.username in ['gpremier','gpKia','gpKiaMoc'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">KIA Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_KIA_Mochis_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    


    <!-- inicio de marca  Mercedes Benz Hermosillo-->
  {% if current_user.username in ['gpremier','gpMerHer','gpMerCul','gpMer'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingMerE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseMerE" aria-expanded="false" aria-controls="collapseMerE">
          <h3 class="text-center">Mercedes Benz</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseMerE" class="collapse" role="tabpanel" aria-labelledby="headingMerE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpMer'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Mercedes Benz Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpMerCul','gpMer'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Mercedes Benz Culiacán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpMerHer','gpMer','gphermosillo'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Mercedes Benz Hermosillo</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  Mini Cooper-->
  {% if current_user.username in ['gpremier','gpMin','gpMinCul','gpMinMon'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingMinE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseMinE" aria-expanded="false" aria-controls="collapseMinE">
          <h3 class="text-center">Mini Cooper</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseMinE" class="collapse" role="tabpanel" aria-labelledby="headingMinE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpMin'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Mini Cooper Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpMin','gpMinCul'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Mini Cooper Culiacán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpMin','gpMinMon'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Mini Cooper Monterrey</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  Planauto-->
  {% if current_user.username in ['gpremier','gpPlaCul'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingPlaE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapsePlaE" aria-expanded="false" aria-controls="collapsePlaE">
          <h3 class="text-center">Planauto Culiacán</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapsePlaE" class="collapse" role="tabpanel" aria-labelledby="headingPlaE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpPlaCul'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Planauto Culiacán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- inicio de marca  Toyota-->
  {% if current_user.username in ['gpremier','gpToyZar','gpToyMoc','gpToyGua','gpToyCua','gpToyMaz','gpToy'] %}  
  <div class="card card-collapse">
    <div class="card-header" role="tab" id="headingToyE">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseToyE" aria-expanded="false" aria-controls="collapseToyE">
          <h3 class="text-center">Toyota</h3>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
      </h5>
    </div>
    <div id="collapseToyE" class="collapse" role="tabpanel" aria-labelledby="headingToyE" data-parent="#accordion">
      <div class="card-body">          
          <!--<div class="col-md-12"> -->
               <ul class="nav flex-column nav-pills" role="tablist">
            <ul class="nav flex-column">       
        {% if current_user.username in ['gpremier','gpToy'] %}    
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Total Marca </h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                   
        {% if current_user.username in ['gpremier','gpToyCua','gpToy'] %}             
                   <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Culiacán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToyMoc','gpToy'] %}          
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mochis</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href="static/assets/gpremier/Reporte_Toyota_Mochis_Abr2022.pdf" download>
		<button type="button" class="btn btn-success btn-block">Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToyGua','gpToy'] %}     
              <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Guasave</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                
        {% if current_user.username in ['gpremier','gpToyMaz','gpToy'] %}     
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Mazatlán</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
        
        {% if current_user.username in ['gpremier','gpToyZar','gpToy'] %}  
                <div class="tab-pane" id="dash">
                       <div class="card">
                           <div class="card-header">
                               <h5 class="card-title text-center">Toyota Zaragosa</h5>
                           </div>
                           <div class="card-body">
		<!-- iframe Powe bi-->
		<a href=" " download>
		<button type="button" class="btn btn-success btn-block"disabled>Descargar</button>
		</a>		
                    </div>
                    </div>
                    </div>
                {% endif %}  
                   
                 </ul>
              </ul>
          <!--</div>-->
          
      </div>
    </div>
  </div>
    {% endif %}
    
    <!-- Fin de marca-->
    
    <!-- fin del colapsable-->
</div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
